Repository kjanat/bun-docs-mcp-zed: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, bun-build

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip: [actionlint, actionlint-docker, actionlint-system]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.6.39
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.2
    hooks:
      - id: biome-check
  - repo: local
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflow files
        description: Runs actionlint to lint GitHub Actions workflow files
        language: golang
        types: ["yaml"]
        files: ^\.github/workflows/
        entry: actionlint
        minimum_pre_commit_version: 3.0.0
      # - id: actionlint-docker
      #   name: Lint GitHub Actions workflow files
      #   description: Runs actionlint Docker image to lint GitHub Actions workflow files
      #   language: docker_image
      #   types: ["yaml"]
      #   files: ^\.github/workflows/
      #   entry: docker.io/rhysd/actionlint:1.7.8
      # - id: actionlint-system
      #   name: Lint GitHub Actions workflow files
      #   description: Runs system-installed actionlint to lint GitHub Actions workflow files
      #   language: system
      #   types: ["yaml"]
      #   files: ^\.github/workflows/
      #   entry: actionlint
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [-x]
#  - repo: local
#    hooks:
#    - id: bashate
#      name: bashate
#      description: This hook runs bashate for linting shell scripts
#      entry: bashate
#      language: python
#      types: [shell]
#      args: ['--ignore', 'E002,E003,E006']
  - repo: local
    hooks:
      - id: bun-build
        name: Build proxy.js
        description: Runs `bun run build` to build the project.
        entry: bun run build
        language: system
        files: \.(rs|ts|toml|json)$
        pass_filenames: false
        stages: [pre-commit]

feat: migrate MCP proxy to Rust and wire Zed
  CLAUDE.md
  MANUAL_TEST_INSTRUCTIONS.md
  NEXT_STEPS.md
  TEST_RESULTS.md
  docs/SUMMARY.md
  docs/phase1-completion.md
  extension.toml
  proxy-rust.sh
  proxy/Cargo.toml
  proxy/README.md
  proxy/src/http/mod.rs
  proxy/src/main.rs
  proxy/src/protocol/mod.rs
  proxy/src/transport/mod.rs
  proxy/test-proxy.sh
Due: bun-build

chore: cleanup post-migration artifacts and streamline project
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  ARCHITECTURE.md
  Cargo.toml
  MANUAL_TEST_INSTRUCTIONS.md
  NEXT_STEPS.md
  README.md
  TEST_RESULTS.md
  biome.jsonc
  build.ts
  bun.lock
  docs/SUMMARY.md
  docs/phase0-decision.md
  docs/phase1-completion.md
  docs/platform-matrix.md
  docs/protocol-analysis.md
  docs/rmcp-evaluation.md
  extension.toml
  package.json
  proxy-rust.sh
  proxy.js
  proxy.ts
  proxy/Cargo.toml
  proxy/README.md
  proxy/src/http/mod.rs
  proxy/src/main.rs
  proxy/src/protocol/mod.rs
  proxy/src/transport/mod.rs
  proxy/test-proxy.sh
  src/lib.rs
  test-capture.sh
  test-proxy-directly.sh
  tsconfig.json
Due: bun-build

fix: resolve review issues and clean docs
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  src/lib.rs
Due: bun-build

docs: remove Bun API documentation and obsolete implementation details
  CLAUDE.md
Due: none

ci: add GitHub Actions for automation and code quality
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: actionlint

fix: address critical PR review issues
  .github/workflows/claude-code-review.yml
  extension.toml
  src/lib.rs
Due: actionlint, bun-build

test: add unit tests and improve code quality
  .pre-commit-config.yaml
  CLAUDE.md
  src/lib.rs
Due: bun-build

fix: add pull-requests write permission to code review workflow
  .github/workflows/claude-code-review.yml
Due: actionlint

fix: address critical PR review issues
  .github/workflows/claude-code-review.yml
  src/lib.rs
Due: actionlint, bun-build

fix: add security hardening and comprehensive testing
  Cargo.toml
  src/lib.rs
Due: bun-build

chore: update CI workflow paths to Rust files
  .github/workflows/claude-code-review.yml
Due: actionlint

refactor: remove unused security code and clarify platform detection
  Cargo.toml
  src/lib.rs
Due: bun-build

feat: add automatic binary updates with daily version checks
  src/lib.rs
Due: bun-build

fix: remove redundant trim() before split_whitespace()
  src/lib.rs
Due: bun-build

docs: convert architecture diagram to Mermaid format
  README.md
Due: none

docs: add kbd tags to keyboard shortcuts for better formatting
  README.md
Due: none

fix: use semver for update version check
  Cargo.toml
  src/lib.rs
Due: bun-build

raises workflow permissions for Claude integration
  .github/workflows/claude.yml
Due: actionlint

refactor: centralize update interval
  src/lib.rs
Due: bun-build

refactor: improve update check and cached binary handling
  src/lib.rs
Due: bun-build

refactor(context-id): centralizes context server id in a shared constant
  src/lib.rs
Due: bun-build

chore(ci): add Rust CI workflow and tests
  .github/workflows/rust-ci.yml
  README.md
  src/lib.rs
Due: actionlint, bun-build

refactor: adjust tests and CI gating
  .github/workflows/rust-ci.yml
  src/lib.rs
Due: actionlint, bun-build

chore: track Cargo.lock in repository
  .gitignore
  Cargo.lock
Due: none

chore(pre-commit): exclude Cargo.lock
  .pre-commit-config.yaml
  Cargo.lock
Due: none

feat: migrate extension to pure Rust implementation (#1)
  .gitattributes
  .github/workflows/claude.yml
  .github/workflows/rust-ci.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  biome.jsonc
  build.ts
  bun.lock
  extension.toml
  package.json
  proxy.js
  proxy.ts
  src/lib.rs
  tsconfig.json
Due: actionlint, bun-build

Grant workflow read access to repository contents
  .github/workflows/rust-ci.yml
Due: actionlint

docs: polish documentation and links
  ARCHITECTURE.md
  README.md
Due: none

feat(ci): add release workflow for extension
  .github/workflows/release.yml
Due: actionlint

fix(platform-detection): migrate to zed::current_platform
  .zed/settings.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  TESTING.md
  extension.toml
  src/lib.rs
Due: bun-build

fix: implement immediate plugin updates with version-specific folders
  src/lib.rs
Due: bun-build

fix: clean up old non-versioned binaries during migration
  src/lib.rs
Due: bun-build

Remove actionlint from pre-commit skip list
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

perf: check for updates only once per Zed session
  src/lib.rs
Due: bun-build

feat(ci): add auto-format workflow for PRs
  .github/workflows/auto-format.yml
Due: actionlint

refactor(ci): use glob patterns for tombi and add linting
  .github/workflows/auto-format.yml
Due: actionlint
